<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nimble project: HMI</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div class="container">
        <h1>Patient measurements</h1>
        <div>
            <input type="number" id="height" placeholder="Enter a number" value="1.8">
            <button onclick="sendData('height', '/data_height')">Height</button>
        </div>
    
        <div>
            <input type="number" id="femur" placeholder="Enter a number" value="0.3371">
            <button onclick="sendData('femur', '/data_femur')">Femur</button>
        </div>
    
        <div>
            <input type="number" id="tibia" placeholder="Enter a number" value="0.3495">
            <button onclick="sendData('tibia', '/data_tibia')">Tibia</button>
        </div>

    </div>

    <div class="container">
        <div class="data" id="data-display">
            Waiting for data...
        </div>
    </div>

    <div class="additional-container">
        <canvas id="bg"></canvas>
    </div>

    <!-- Information sender -->
    <script>
        function sendData(inputId, endpoint) {
            var inputValue = document.getElementById(inputId).value;
            fetch(endpoint + "?value=" + encodeURIComponent(inputValue))
                .then(response => response.json())
                .catch(error => console.error("Error:", error));
        }
    </script>

    <!-- Script for the second container -->
    <script type="module" src="/static/main.js"></script>
</body>
</html>
